body {
  font-family: 'Roboto Flex', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}
.react-kanban-column {
  padding: 15px;
  border-radius: 7px;
  margin: 5px;
}
.react-kanban-card {
  border-radius: 7px;
  padding: 10px 20px;
  margin-bottom: 10px;
}
#root.dark .react-kanban-column {
  background-color: #323232;
  margin: 5px;
}
#root.dark .react-kanban-card {
  background-color: #25262b;
}

//TODO if not using background image change black ^^^

td.task-title,
td.task-board_name {
  text-transform: capitalize;
}
.react-kanban-column {
  background-color: rgb(238 238 238 / 70%);
}
#root.dark .react-kanban-column {
  background-color: rgb(50 50 50 / 70%);
}

#root.dark .mantine-AppShell-main {
  background-blend-mode: hard-light;
}

.header-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-icons .mantine-Popover-root,
.header-icons .mantine-ActionIcon-outline {
  margin-right: 15px;
}
